<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Newman Report</title>
</head>

<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;">
    <div>
        <h1 style="font-weight: 500; font-size: 24px;">Newman Report</h1>
        <table>
            {{#with summary}}
                <tr>
                    <td>Collection</td>
                    <td>{{collection.name}}</td>
                </tr>
                {{#if collection.description}}
                    <tr>
                        <td>Description</td>
                        <td>{{collection.description}}&nbsp;</td>
                    </tr>
                {{/if}}
            {{/with}}
            <tr>
                <td>Time</td>
                <td>{{timestamp}}</td>
            </tr>
            <tr>
                <td>Exported with</td>
                <td>Newman v{{version}}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><strong>Failed / Total</strong></td>
            </tr>

            {{#with summary}}
                {{#with stats}}
                    <tr>
                        <td>Iterations</td>
                        <td>{{iterations.failed}} / {{iterations.total}}</td>
                    </tr>
                    <tr>
                        <td>Requests</td>
                        <td>{{requests.failed}} / {{requests.total}}</td>
                    </tr>
                    <tr>
                        <td>Prerequest Scripts</td>
                        <td>{{prerequestScripts.failed}} / {{prerequestScripts.total}}</td>
                    </tr>
                    <tr>
                        <td>Test Scripts</td>
                        <td>{{testScripts.failed}} / {{testScripts.total}}</td>
                    </tr>
                    <tr>
                        <td>Assertions</td>
                        <td>{{assertions.failed}} / {{assertions.total}}</td>
                    </tr>
                {{/with}}

                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Total run duration</td>
                    <td>{{duration}}</td>
                </tr>
                <tr>
                    <td>Total data received</td>
                    <td>{{responseTotal}} (approx)</td>
                </tr>
                <tr>
                    <td>Average response time</td>
                    <td>{{responseAverage}}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td ><strong>Total Failures</strong></td>
                    <td><strong>{{failures.length}}</strong></td>
                </tr>
            {{/with}}
        </table>

        {{#if summary.failures.length}}
            <br />
            <div>&nbsp;</div>
            <h2 style="font-weight: 500; font-size: 20px;">Failures</h2>

            {{#each summary.failures}}
            <div>
                <h3 style="font-weight: 500; font-size: 18px;">{{error.name}}: {{#if error.test}}{{error.test}}{{else}}{{error.message}}{{/if}}</h3>
                <table>
                    {{#if error.test}}
                        <tr>
                            <td>Description</td>
                            <td>{{error.message}}</td>
                        </tr>
                    {{/if}}
                    <tr>
                        <td>Location</td>
                        <td>{{at}}</td>
                    </tr>
                    <tr>
                        <td>Request</td>
                        <td>{{source.name}}</td>
                    </tr>
                    {{#gt cursor.cycles 1}}
                        <tr>
                            <td>Iteration</td>
                            <td>{{add cursor.iteration 1}}</td>
                        </tr>
                    {{/gt}}
                </table>
            </div>
            <tr>
                <td>&nbsp;</td>
            </tr>
            {{/each}}
        {{/if}}

        <div><strong>Please refer to the attachment for more details.</strong></div>
    </div>
</body>

</html>
